div {
  display: inline-block;
}
div * {
  margin: 0;
  padding: 0;
}
dl {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-auto-rows: 30px;
  margin-left: 50px;
}
dl dd {
  background-color: rgba(100, 100, 100, 0.5);
  border-bottom: 1px solid black;
}
dd:nth-child(23) {
  background-color: black;
}
