:root{
  --font_c155: rgb(155,155,155);
  --font_c230: rgb(230, 230, 230);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  min-width: 1250px;
  height: 100%;
  width: 100%;
}
ul,li{
  list-style: none;
  display: inline-block;
}
a{
  color: var(--font_c155);
  text-decoration: none;
}
a:hover{
  color: var(--font_c230);
}
/*     head-1     */
div.head-1{
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 40px;
  background-color: rgb(50, 50, 50);
  color: var(--font_c155);
}
div.skip-1{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}
div.skip-2{
  display: inline-block;
  text-align: right;
}
/* 购物车 */
div.Shopping-Cart{
  display: inline-block;
  text-align: right;
}
/*     head-2     */
div.head-2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 100px;
  background-color: rgb(211, 211, 211);
  color: var(--font_c155);
  padding-top: 20px;
  padding-bottom: 20px;
}
div.logo{
  position: absolute;
  display: inline-block;
}
div.skip-3{
  display: inline-block;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 170px;
}
div.skip-3 ul,div.skip-3 li{
  height: 100%;
  text-align: center;
}
/*------下面的改--------------------------------*/
div.search_for{
  display: inline-block;
  text-align: right;
  width: 300px;
  margin-right: 0;
  margin-left: auto;
}





div.aaa{
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  background-color: bisque;
}
