:root{
  --font_c155: rgb(155,155,155);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  min-width: 1400px;
  height: 100%;
  width: 100%;
}
ul,li{
  list-style: none;
  display: inline-block;
}

div.head{
  /* padding-left: 5%;
  padding-right: 5%; */
  height: 42px;
  background-color: rgb(50, 50, 50);
  color: var(--font_c155);
}
div.skip-1{
  display: inline-block;
  height: 42px;
}
div.skip-2{
  display: inline-block;
  text-align: right;
  width: 240px;
}

div.Shopping-Cart{
  display: inline-block;

}
