:root{
  --font_c155: rgb(155,155,155);
  --font_c230: rgb(230, 230, 230);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  min-width: 1250px;
  height: 100%;
  width: 100%;
}
div{
  height: 100%;
}
ul,li{
  list-style: none;
  display: inline-block;
}
a{
  color: var(--font_c155);
  text-decoration: none;
}
a:hover{
  color: var(--font_c230);
}
div.head{
  height: 140px;
}
div.h-bgc{
  height: 40px;
  background-color: rgb(50, 50, 50);
}
/*     head-1     */
div.head-1{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 40px;
  color: var(--font_c155);
  font-size: 14px;
  line-height: 40px;
}
div.skip-1{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}
div.skip-2{
  display: inline-block;
  position: absolute;
  right: 140px;
}
/*  购物车  */
div.Shopping-Cart{
  position: absolute;
  display: inline-block;
  background-color: #424242;
  width: 120px;
  height: 40px;
  text-align: center;
  right: 0;
}
/*     head-2     */
div.head-2{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 100px;
  color: var(--font_c155);
  padding-top: 20px;
  padding-bottom: 20px;
}
div.logo{
  position: absolute;
  display: inline-block;
}
div.skip-3{
  display: inline-block;
  color: black;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 235px;
}
ul.h2-option>li{
  margin-left: 7px;
  margin-right: 7px;
}
div.skip-3 ul,div.skip-3 li{
  height: 100%;
  text-align: center;
}
/*  搜索框  */
div.search_for{
  position: absolute;
  display: inline-block;
  text-align: right;
  right: 0;
  width: 300px;
  height: 40px;
  margin: 10px auto;
}
div.search_for input{
  border: 1px solid rgb(50, 50, 50);
  vertical-align: top;
  height: 40px;
  width: 250px;
}
label.lb-se{
  border: 1px solid rgb(50, 50, 50);
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 5px;
  cursor: pointer;
}
label.lb-se:hover{
  background-color: #FF6A00;
}
/*          -----page页-----          */
div.page-1{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 450px;
  overflow: hidden;
}
.p-bgi{
  position: absolute;
}
.p-img img{
  position: absolute;
  opacity: 0;
  width: 1250px;
  /* height: 450px; */
}
input[name="rad"]{
  display: none;
}
div.label-2,div.label-3{
  position: relative;
  height: 70px;
  width: 45px;
}
div.label-1{
  position: relative;
  right: -1170px;
  top: -30px;
  height: 20px;
}
div.label-2{
  right: -240px;
  top: -280px;
}
div.label-3{
  right: -1210px;
  top: -350px;
}
div.label-1 label{
  z-index: 10;
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  border: 1px solid;
}
/* 左右箭头 */
div.label-2 label{
  height: 70px;
  width: 40px;
  /* border: 1px solid; */
  display: none;
  background-image: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-position: -84px
}
div.label-3 label{
  height: 70px;
  width: 40px;
  /* border: 1px solid; */
  display: none;
  background-image: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-position: -126px
}
div.label-2 label:hover{
  background-position: 0px
}
div.label-3 label:hover{
  background-position: -44px
}
input#rad-1:checked ~.label-2 label.lab-3,input#rad-2:checked ~.label-2 label.lab-1,input#rad-3:checked ~.label-2 label.lab-2{
  display: inline-block;
}
input#rad-1:checked ~.label-3 label.lab-r2,input#rad-2:checked ~.label-3 label.lab-r3,input#rad-3:checked ~.label-3 label.lab-r1{
  display: inline-block;
}
input#rad-1:checked ~.p-img img#img-1,input#rad-2:checked ~.p-img img#img-2,input#rad-3:checked ~.p-img img#img-3{
  opacity: 1;
}
div.label-1 label:hover{
  background-color: rgb(216, 70, 216);
  cursor: pointer;
}
/*--------------------------------------------------*/
div.option{
  position: absolute;
  top: 0;
}
ul.option{
  position: relative;
  width: 240px;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(100, 100, 100, 0.4);
}
ul.option>li{
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
}
ul.option>li::after{
  position: absolute;
  right: 20px;
  content: '>';
}
ul.option>li:hover{
  background-color: #FF6A00;
}
ul.option>li:hover ul{
  display: inline-block;
}
ul.option ul{
  position: absolute;
  display: none;
  left: 100%;
  height: 450px;
  width: 550px;
  background-color: rgba(255, 173, 126, 0.7);
  top: 0;
}
ul.option ul li{
  vertical-align: top;
  width: 270px;
  height: 75px;
}
/*-----频道列表,推荐-----*/
.recommend{
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: auto;
}
.channel-list{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 160px;
}
.channel-list ul{
  list-style: none;
  background-color: #5F5750;
  width: 240px;
  font-size: 0;
}
.channel-list ul li{
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid rgb(100, 100, 100);
  padding-top: 5px;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 14px;
}
.channel-list ul li img{
  display: block;
  margin: auto;
}
.channel-list2{
  display: inline-block;
  height: 160px;
  width: 1000px;
  margin-left: 5px;
}
.channel-list2 span{
  display: inline-block;
  height: 160px;
  width: 320px;
  margin-left: 10px;
}
.channel-list2 span:hover{
  box-shadow: 5px 8px 10px rgba(100, 100, 100, 0.4);
}
.channel-list2 span a{
  display: inline-block;

}
.channel-list2 span img{
  height: 158px;
}
/*-------------------------------------*/
div.page-main{
  background-color: rgb(245,245,245);
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-head{
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  padding-top: 20px;
}
.advertisement img{
  width: 1250px;
}
.commodity>div{
  margin-top: 20px;
  margin-bottom: 20px;
}
.commodity div[class $= "-content"]{
  font-size: 0;
}
/*     手机     */
.sj-h{
  position: relative;
  font-size: 24px;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sj-h a{
  position: absolute;
  right: 0;
}
.sj-h a:hover{
  color: #FF6A00;
}
.sj-h a::after{
  content: '>';
}
.commodity ul{
  width: 100%;
  height: 614px;
}
.commodity ul li{
  width: 242px;
  height: 302px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: inset 0 0 1px black;
  background-color: rgb(255, 255, 255);
}
.commodity ul.buju-1 li:first-child{
  width: 242px;
  height: 614px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.commodity ul.buju-12 li:first-child{
  width: 242px;
  height: 614px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.commodity ul.buju-12 li:nth-child(n + 9){
  width: 242px;
  height: 146px;
}
.commodity ul.buju-2 li:nth-child(5n + 1):nth-child(-n + 10){
  margin-left: 0px;
}
.commodity ul.buju-2 li:nth-child(n + 10){
  width: 242px;
  height: 146px;
}
.commodity ul li:hover{
  box-shadow: 5px 8px 10px rgba(100, 100, 100, 0.4);
}
