html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  min-width: 1226px;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
li,a{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: rgb(176, 176, 176);
}
.head a:hover{
  color: rgb(241, 241, 241);
}
.shadow:hover{
  box-shadow: 3px 7px 10px 10px rgba(151, 151, 151, 0.219);
}
.head{
  height: 140px;

  *{
    color: rgb(176, 176, 176);
    font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei",sans-serif;
  }
  .bgc{
    background-color: rgb(51, 51, 51);
    line-height: 40px;
    height: 40px;
  }
  .head-1{
    background-color: rgb(51, 51, 51);
    line-height: 40px;
    height: 40px;
    width: 1226px;
    margin: auto;
    font-size: 12px;
    span{
      margin-left: 3px;
      margin-right: 3px;
      color: rgb(66, 66, 66);
    }
    > div{
      display: inline-block;
    }
    .Shopping-Cart{
      float: right;
      width: 120px;
      height: 40px;
      text-align: center;
      background-color: rgb(66, 66, 66);

      .iconfont{
        font-size: 14px;
      }
      .iconfont::before{
        content: "\E60C";
        font-size: 14px;
      }
    }
    .skip-2{
      margin-left: 150px;
    }
    .Shopping-Cart{
      position: relative;
      &:hover .Shopping{
        height: 100px;
        transition: .4s;
        box-shadow: 2px 2px 5px rgb(145, 145, 145);
      }
      .Shopping{
        position: absolute;
        height: 0px;
        width: 315px;
        right: 0;
        top: 40px;
        z-index: 1;
        background-color: white;
        text-align: center;
        transition: .4s;
      }
    }
  }

  .head-2{
    height: 60px;
    width: 100%;
    margin: 20px 0px;
    position: relative;

    .head-2-w{
    display: block;
    width: 1226px;
    height: 60px;
    margin: 0 auto;
    }

    *{
      display: inline-block;
    }
    /*   第二行   */
    .logo{
      height: 60px;
      &:active{
        transform: scale(0.8);
      }
    }
    .skip-3{
      vertical-align: top;
      margin: auto;
      height: 60px;
      width: 800px;

      ul.h2-option{
        margin-left: 150px;
        height: 60px;
        font-size: 0;
        &:hover div{
          display: block;
          width: 100%;
          height: 230px;
          margin: auto;
          transition: .4s;
          border-top: 1px solid rgb(194, 194, 194);
          box-shadow: 0px 2px 3px rgba(80, 80, 80, 0.247);
        }
        li{
          padding-left: 10px;
          padding-right: 10px;
          line-height: 60px;
          font-size: 16px;
          color: black;
          &:hover{
            color: #FF6700;
            div{
              z-index: 5;
            }
          }

          div{
            display: block;
            position: absolute;
            height: 0px;
            width: 100%;
            margin: auto;
            left: 0;
            top: 80px;
            background-color: rgb(255, 255, 255);
            z-index: 4;
            transition: .4s .4s;
            overflow: hidden;
            border-top: 1px solid rgb(255, 255, 255);
            // border-bottom: 1px solid rgb(27, 27, 27);
            span{
              display: block;
              height: 230px;
              width: 1226px;
              margin: auto;
              background-color: white;
            }
          }
        }
      }
    }
    .search_for{
      float: right;
      height: 50px;
      width: 300px;
      margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid rgb(224, 224, 224);
      &:hover{
        border-color: rgb(176, 176, 176);
        label{
          border-color: rgb(176, 176, 176);
        }
      }
      &:active{
        border-color: #FF6700;
        label{
          border-color: #FF6700;
        }
      }
      form{
        width: 100%;

        button{
          display: none;
        }
        input{
          outline-style: none;
          height: 50px;
          width: 239px;
          margin: 0;
          padding: 0;
          padding-left: 10px;
          border: 0px;
        }
        label{
          float: right;
          height: 50px;
          width: 50px;
          border-left: 1px solid  rgb(224, 224, 224);
          :hover{
            background-color: #FF6700;
            cursor: pointer;
          }
          img{
            height: 20px;
            width: 20px;
            padding: 15px;
            :hover{
              background-color: #FF6700;
            }
          }
        }
      }

    }
  }
}

.menu{
  width: 1226px;
  margin: auto;
  padding-bottom: 30px;

}
.menu-1{
  position: relative;
  height: 460px;

  >ul.menu-1-left{
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    height: 460px;
    width: 234px;
    padding: 20px 0;
    background-color: rgba(110, 110, 110, 0.7);

    li.left{
      line-height: 42px;
      height: 42px;
      padding-left: 30px;
      font-size: 14px;
      color: rgb(223, 223, 223);

      span{
        color: rgb(34, 34, 34);
        &:hover{
        color: #FF6700;
        }
      }
      &::after{
        position: absolute;
        right: 20px;
        content: "\E623";
      }
      &:hover{
        background-color: rgb(255,103,0,);
        div{
          display: grid;
          height: 460px;
          grid-auto-flow: column;
          grid-template-rows: repeat(6 ,1fr);
          grid-auto-columns: 248px;

          span{
            display: inline-block;
            line-height: 76px;
            padding-left: 30px;
            vertical-align: middle;

            &::before{
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 40px;
              height: 40px;
              margin-top: 18px;
              margin-bottom: 18px;
              background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/ecfbf9d01c8a2605f0a6938093b23ad8.png?thumb=1&w=40&h=40&f=webp&q=90);
            }
          }
        }
      }

      div{
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 3px 7px rgba(50, 50, 50, 0.2);
      }
    }
  }

  .pic{
    height: 100%;
    width: 100%;
    position: relative;
    // z-index: 1;
    top: -100%;
    .pic-bg{
      height: 460px;
      input{
        display: none;

        &#rad-1:checked ~div img#pic-1,
        &#rad-2:checked ~div img#pic-2,
        &#rad-3:checked ~div img#pic-3{
          display: block;
          opacity: 1;
        }

      }
    }
    .img{
      position: relative;
      height: 100%;
      width: 100%;
      img{
        display: none;
        opacity: 0;
        height: 460px;
        width: 1226px;
      }

    }
    .label{
      position: absolute;
      right: 20px ;
      bottom: 20px;

      label{
        display: inline-block;
        box-sizing: content-box;
        height: 10px ;
        width: 10px;
        border-radius: 10px;
        border: 3px solid rgba(150, 150, 150, 0.4);

        &:hover{
          background-color: coral;
        }
      }

    }
  }
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
div.label-2{
  height: 70px;
  width: 40px;
  position: relative;
  top: -265px;
  right: -234px;
  background-image: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-position: -84px;

  &:hover{
    background-position: 0px;
  }
  label{
    display: none;
    position: absolute;
    height: 70px;
    width: 40px;
  }
}
div.label-3{
  height: 70px;
  width: 40px;
  position: relative;
  top: -335px;
  right: -1186px;
  background-image: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png);
  background-position: -126px;

  &:hover{
    background-position: -44px;
  }
  label{
    display: none;
    position: absolute;
    height: 70px;
    width: 40px;


  }
}

input#rad-1:checked ~div.label-2 label.lab-l3,
input#rad-2:checked ~div.label-2 label.lab-l1,
input#rad-3:checked ~div.label-2 label.lab-l2{
  display: block;
}
input#rad-1:checked ~div.label-3 label.lab-r2,
input#rad-2:checked ~div.label-3 label.lab-r3,
input#rad-3:checked ~div.label-3 label.lab-r1{
  display: block;
}
input#rad-1:checked ~.p-img img#img-1,
input#rad-2:checked ~.p-img img#img-2,
input#rad-3:checked ~.p-img img#img-3{
  opacity: 1;
}
/*--------------------------------------------------*/
/*--------------------------------------------------*/
/*--------------------------------------------------*/
.recommend{
  font-size: 0;
  margin-top: 15px;

  .channel-list1{
    display: inline-block;
    vertical-align: top;

    ul{
      background-color: #5F5750;
      width: 234px;
      height: 170px;
      font-size: 0;

      *{
        color: rgb(151, 151, 151);
        font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei",sans-serif;
      }

      li{
        font-size: 14px;
        display: inline-block;
        box-shadow: inset 0 0 1px rgb(201, 201, 201);
        text-align: center;
        width: 78px;
        height: 85px;

        :hover{
          color: rgb(230, 230, 230);
        }
        img{
          display: block;
          margin: auto;
          margin-top: 25px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .channel-list2{
    display: inline-block;
    height: 170px;
    width: 992px;
    span{
      display: inline-block;
      width: 316px;
      height: 170px;
      margin-left: 14.4px;
      a{
        display: block;
        width: 316px;
        height: 170px;
      }
      img{
        width: 316px;
        height: 170px;
      }
    }

  }
}
////////////////////////////////////////////////////////////////////////
.MAIN{
  background-color: #F5F5F5;
  padding-top: 30px;
  padding-bottom: 30px;

  .main{
    width: 1226px;
    margin: auto;


    div{
      div[class ^= "grid"]{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        grid-template-rows: repeat(4 , 143px);
        gap: 14px;
        margin-bottom: 30px;   ////////////////////////
        span{
          grid-row-end: span 2;
          background-color: white;
          transition: .2s;
          transform: translateY(0);
          &:hover{
            transform: translateY(-2px);
          }
        }
      }
      div.grid1{
        span:first-child{
          grid-row-end: span 4;
        }
      }
      div.grid2{
        span:first-child{
          grid-row-end: span 4;
        }
        span:nth-last-child(-n + 2){
          grid-row-end: span 1;
        }
      }
      div.grid3{
        span:nth-last-child(-n + 2){
          grid-row-end: span 1;
        }
      }
    }
  }

}

////////////////////////////////////////////////
.g-head{
  height: 60px;

  span{
    line-height: 60px;
    font-size: 24px;
  }
  .select{
    display: block;
    width: 280px;
    height: 60px;
    float: right;
    text-align: right;

    *{
      line-height: 60px;
    }
    a:hover{
      color: #FF6700;
    }
    a::after{
      content: "\E623";
      font-size: 16px;
    }
  }
}





/////////////////////////////////////////////////////////
.foot{

  .container{
    width: 1226px;
    margin: auto;
    padding-bottom: 30px;

    .foot-1{
      display: grid;
      grid-template-columns: repeat(5 ,1fr);
      grid-template-rows: 80px;
      border-bottom: 1px solid;
      a{
        line-height: 80px;
        text-align: center;
        &:hover{
          color: #FF6700;
        }
        &.ia1::before{
          content:"\E634";
        }
        &.ia2::before{
          content:"\E635";
        }
        &.ia3::before{
          content:"\E636";
        }
        &.ia4::before{
          content:"\E638";
        }
        &.ia5::before{
          content:"\E637";
        }
      }
    }
    .foot-2{
      height: 400px;
    }
  }
}
.site-info{
  background-color: #F5F5F5;

  .container{
    height: 270px;
    width: 1226px;
    margin: auto;
  }
}

