html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 240px auto 240px 240px ;
}
.l,
.r1,
.r2 {
  background-color: #ddabdd;
}
.l {
  border-right: 1px solid;
}
.r1,
.r2 {
  border-left: 1px solid;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.text .head {
  height: 120px;
  width: 100%;
  flex-grow: 0;
  background-color: #928e92;
  border-bottom: 1px solid;
}
.text .a {
  overflow-y: scroll;
  background-color: aquamarine;
  height: 1px;
  width: 100%;
  flex-grow: 1;
}
